.pagination {
  height: 42px;
  display: flex;
  gap: 0.5rem;
  --blue1: #0bd1d1;
  --blue2: #0ea5ea;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.75rem 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #4e6275;
    &:hover {
      background-image: linear-gradient(to left, var(--blue1), var(--blue2));
      box-shadow: 0 0 4px var(--blue1);
    }
  }
  .current {
    cursor: default;
    background-image: linear-gradient(to left, var(--blue1), var(--blue2));
    &:hover {
      transform: unset;
      box-shadow: unset;
    }
  }
}
