.button{
    --blue1: #0bd1d1;
    --blue2: #0ea5ea;
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
}
.disabled{
    cursor: default;
    &:hover{
        transform: unset;
    }
}