.header {
    background-color: #fff;
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s linear;
    .headerNav {
        display: flex;
        justify-content: center;

        li {
            margin: 0 12px;
            cursor: pointer;
        }
    }
}
