.header {
    background-color: inherit;
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s linear;
    z-index: 1000;
    .headerNav {
        display: flex;

        justify-content: center;

        li {
            margin: 0 12px;
            cursor: pointer;
        }
    }
    .headerRinght {
        display: flex;
    }

    .mobieHeader {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        // background-color: rgba(0, 0, 0, 0.5);

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 90;
        }
        .mobieContent {
            position: absolute;
            padding: 30px;
            top: 0;
            bottom: 0;
            right: 0;
            max-width: 370px;
            background-color: rgba(123, 96, 45, 1);
            width: calc(100% - 24px);
            z-index: 100;
        }
    }
}
