.admin {
}

.banner {
  width: 100%;
  // padding: 0 4rem;
  //   background: url(https://fullstack.edu.vn/static/media/cover-profile.3fb9fed576da4b28386a.png);
  position: relative;
  margin-bottom: 5rem;
}

.banner .image {
  width: 100%;
  border-radius: 0.8rem;
  object-fit: contain;
  object-position: center;
}

.avatar {
  top: calc(100%);
  left: 6rem;
  width: 10rem;
  height: 10rem;
  padding: 0.4rem;
  background-color: var(--bg);
  position: absolute;
  border-radius: 50%;
  transform: translateY(-60%);
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.navLeft {
  display: flex;
  gap: 2rem;
}

.navItem {
  cursor: pointer;
}

.content {
  width: 100%;
}

.ceratePost {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
