.comment,
.replyComment {
  --avatar-width: 2rem;
  --gap: 0.6rem;
  border-radius: 0.5rem;
  .author {
    img {
      width: var(--avatar-width);
      height: var(--avatar-width);
    }
    h4 ~ * {
      font-size: 0.75rem;
    }
  }
  .main {
    .content {
      position: relative;
      padding-left: calc(var(--avatar-width) + var(--gap));
      padding-bottom: 1rem;
    }
    &::before {
      top: calc(var(--avatar-width) + 0.5rem);
    }
  }
  .replies {
    padding-left: 2rem;
    position: relative;
  }
}
.line {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--border);
    top: 0;
    bottom: 1.25rem;
    //
    left: 1rem;
  }
}
.continueLine {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--border);
    top: 0;
    bottom: 0;
    //
    left: 1rem;
  }
}
