.blockItem {
    display: flex;
    width: 100%;
    margin-bottom: 50px;

    .blockImage {
        width: 270px;
        height: 270px;
        border-radius: 16px;
        overflow: hidden;
        margin-right: 20px;
        flex-shrink: 0;

        .blockImg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .blockContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .blockBadge {
            margin-bottom: 4px;
            display: flex;
            gap: 8px;

            .blockstiky {
                display: flex;
                align-items: center;
                border-radius: 50px;
                padding: 4px 12px;
                font-size: 13px;
                font-weight: 700;
                background-color: #0ea5ea;
                color: #ffffff;
            }

            .blockBtnTag {
                height: 32px;
                display: flex;
                align-items: center;
            }
        }

        .heading {
            font-weight: 700;
            font-size: 24px;
            margin: 15px 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .title {
            font-weight: 400;
            margin-bottom: 16px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .blockBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .hashtag {
                width: 60%;
                word-spacing: 2px;
                flex-shrink: 1;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // -webkit-line-clamp: 1;
                // -webkit-box-orient: vertical;
            }

            .time {
                width: 40%;
                text-align: end;
            }
        }
    }
}

.tag {
    padding: 0.7rem;
    font-size: 12px;
}
