.createPost {
  section {
    margin-bottom: 2rem;
    h3 {
      text-transform: uppercase;
    }
  }
  .title {
    input {
      color: var(--skyblue);
      font-size: 1.25rem !important;
      font-weight: bolder;
    }
  }
  .imgFile {
    padding: 0.5rem 0;
    display: block;
  }
  .thumbnail {
    .previewThumbnail {
      position: relative;
      display: inline-block;
      margin: 0.5rem 0;
    }
    img {
      display: inline-block;
      min-height: 1rem;
      max-height: 240px;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: #fff;
      background-color: rgb(218, 57, 51);
      border-radius: 50%;
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.preview {
  box-shadow: 0 0 0.5rem var(--text);
  padding: 1rem;
  height: calc(100vh - 2rem);
  max-width: 1000px;
  overflow-y: scroll;
  background-color: var(--bg);
  position: relative;
  border-radius: 0.5rem;
}
.heading {
  display: flex;
}
.title {
  color: var(--skyblue);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.content {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border);
  img {
    max-width: 100%;
  }
}
.closeBtn {
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0;
}
