.login {
    padding: 0 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.banner {
    flex: 1;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-image: url('/src/assets/image/communication.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main {
    width: 60%;
}
.form {
    input {
        font-size: 1.25rem;
    }
    & > * {
        margin: 1rem 0;
    }
}
@media screen and (max-width: 680px) {
    .login {
        flex-direction: column-reverse;
        gap: 0;
        padding-top: 1rem;
    }
    .banner {
        height: 160px;
        flex: unset;
    }
}
