.posts {
  img {
    height: 3rem;
  }
}
.loading {
  margin-bottom: 2rem;
  color: var(--sky-blue);
  font-weight: bolder;
}
.search {
  margin-bottom: 2rem;
  input {
    font-size: 18px;
  }
}
.searchList {
  margin-top: 4rem;
}
.notice {
  color: var(--sky-blue);
  margin-top: 0.5rem;
  font-size: 13px;
  float: right;
}
