.postItem {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  .postImage {
    height: 260px;
    aspect-ratio: 1.2/1;
    border-radius: 16px;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;

    .postImg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .postContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .postBadge {
      margin-bottom: 4px;
      display: flex;
      gap: 8px;

      .poststiky {
        display: flex;
        align-items: center;
        border-radius: 50px;
        padding: 4px 12px;
        font-size: 13px;
        font-weight: 700;
        background-color: #0ea5ea;
        color: #ffffff;
      }

      .postBtnTag {
        height: 32px;
        display: flex;
        align-items: center;
      }
    }

    .title {
      font-weight: 700;
      font-size: 24px;
      margin: 15px 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .description {
      font-weight: 400;
      margin-bottom: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .postBottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-top: 20px;

      .hashtag {
        width: 50%;
        word-spacing: 2px;
        flex-shrink: 1;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
      }

      .time {
        width: 50%;
        text-align: end;
      }
    }
  }
}
.searchItem {
  .postImage {
    height: 180px;
  }
  .postContent {
    .title {
      margin: 12px 0;
    }
    .description {
      margin-bottom: 12px;
    }
  }
}
.tag {
  padding: 0.5rem 0.7rem;
  font-size: 12px;
}
@media screen and (max-width: 920px) {
  .postItem {
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    .postImage {
      height: 220px;
      margin-bottom: 1rem;
    }
    .postContent {
      .postBottom {
        margin-top: 0;
      }
    }
  }
}
