.postItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .itemImage {
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
        margin-right: 15px;
    }

    .itemArticle {
        flex: 1;

        h3 {
            font-size: 16px;
        }

        .itemLink {
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .itemDate {
            font-size: 12px;
        }
    }
}
