.home {
    max-width: 1400px;
    margin: auto;
    padding: 4rem 8rem;
    & > * {
        padding: 2rem;
    }
}
.slider {
    height: 18rem;
}
.postCard {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & > * {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }
}
.showMoreBtn {
    button {
        padding: 1.2rem 1.5rem;
        margin: auto;
    }
}
.posts {
    display: flex;
    gap: 2rem;
}
.pagination {
    padding-left: 1rem;
    display: flex;
    gap: 0.75rem;
}
@media screen and (max-width: 1100px) {
    .home {
        padding: 2rem 3rem;
    }
}
@media screen and (max-width: 920px) {
    .home {
        padding: 1.5rem 2rem;
    }
    .postCardsCtn {
        justify-content: center;
        & > div {
            max-width: 260px;
        }
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 680px) {
    .home {
        padding: 0;
    }
    .posts {
        display: block;
    }
}
