.display {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--card-bg);
  border: 1.5px solid var(--border);
  cursor: pointer;
  p {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
.dropdown {
  display: none;
  border: 1.5px solid var(--border);
  background-color: var(--card-bg);
  margin-top: 0.25rem;
  padding: 0.5rem;
}
.show {
  display: block;
}
.search {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  margin-bottom: 0.25rem;
  outline: none;
}

.optionlist {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--skyblue);
  }
  max-height: 186px;
  overflow-y: scroll;

  li {
    padding: 0 0.5rem;
    border: 1px solid var(--border);
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
      flex: 1;
      padding: 0.5rem;
    }
    .count {
      --height: 24px;
      height: var(--height);
      line-height: var(--height);
      aspect-ratio: 1/1;
      color: var(--card-bg);
      background-color: var(--text);
      text-align: center;
      border-radius: 50%;
      font-size: 0.8rem;
    }
  }
}
.chosen {
  padding: 0 4px;
  border: 1px solid var(--border);
  background-color: var(--text);
  color: var(--card-bg);
}
