.category {
  width: 100%;
  position: relative;
}

.table {
  max-width: 1200px;
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.td,
.th {
  border: 1px solid #ccc;
}

.create {
  // display: none;
  position: fixed;
  inset: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

.form {
  position: absolute;
  max-width: 900px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: #eae8e8;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
