
:root{
  --dark1: #222f43;
  --dark2: #131c31;
  --dark3: #0f172a;
  --white: #d9d9d9;
  --cyan: #0bd1d1;
  --skyblue: #0ea5ea;
}
#root{
  max-width: 1400px;
}
#dark{
  background-color: var(--dark3);
  color: var(--white);
}
#light{
  background-color: #fff;
  color: var(--dark2);
}
a{
  text-decoration: none;
}
.rounded{
  border-radius: 2rem !important;
}
