:root{
  --dark1: #222f43;
  --dark2: #131c31;
  --dark3: #0f172a;
  --white: #d9d9d9;
  --gray: #66768f;
  --cyan: #0bd1d1;
  --skyblue: #0ea5ea;
}
.splide__track{
  width: 100% !important;
  height: 100% !important;
}
#dark, #light{
  width: 100%;
  margin: auto; 
}
#dark{
  background-color: var(--dark3);
  color: var(--white);
  /*  */
  --text: var(--white);
  --bg: var(--dark3);
  --card-bg: var(--dark2);
}
#light{
  background-color: #fff;
  color: var(--dark2);
  /*  */
  --text: var(--dark1);
  --bg: #fff;
  --card-bg: #e8edf5;
}
#container{
  max-width: 1400px;
  margin: auto;
}
a{
  text-decoration: none;
  color: inherit;
  transition: color .2s; 
  cursor: pointer;
}
a:hover{
  color: var(--skyblue);
}
.rounded{
  border-radius: 2rem !important;
}
.subtext{
  font-size: 14px;
  opacity: .75;
}
.move-up{
  transition: transform .5s, box-shadow .25s;
}
.move-up:hover{
  transform: translateY(-4px);
}
