.writePost {
    section {
        margin-bottom: 2rem;
        h3 {
            text-transform: uppercase;
        }
    }
    .title {
        input {
            color: var(--skyblue);
            font-size: 1.25rem !important;
            font-weight: bolder;
        }
    }
    .imgFile {
        padding: 0.5rem 0;
        display: block;
    }
    .thumbnail {
        .preview {
            position: relative;
            display: inline-block;
            margin: 0.5rem 0;
        }
        img {
            display: inline-block;
            height: 240px;
        }
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: #fff;
            background-color: rgb(218, 57, 51);
            border-radius: 50%;
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }
    }
}
